{{template "base" .}}

{{define "content"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Rooms
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/rooms/generals-quarters">General's Quarters</a>
          <a class="dropdown-item" href="/rooms/majors-suite">Major's Suite '</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/make-reservation">Book Now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="text-center mt-4">Search for Availability</h1>
            <form actions="" method="POST">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="start_date">Starting Date</label>
                  <input type="date" class="form-control" id="start_date" name="start_date" aria-describedby="startDateHelp">
                  <small id="startDateHelp" class="form-text text-muted">Enter start date from in MM-DD-YYYY format</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="end_date">Ending Date</label>
                  <input type="date" class="form-control" id="end_date" name="end_date" aria-describedby="endDateHelp">
                  <small id="endDateHelp" class="form-text text-muted">Enter end date from in MM-DD-YYYY format</small>
                </div>
              </div>
              
            </div>              
              <button type="submit" class="btn btn-primary">Search Availability</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="text-center mt-4">Make Reservation</h1>
      <form actions="" method="POST" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" name="first_name" id="first_name" autocomplete="off">
            </div>
          </div>
            <div class="col">
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" autocomplete="off">
              </div>
            </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" name="email" id="email" autocomplete="off">
            </div>
          </div>
            <div class="col">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" name="phone" id="phone" autocomplete="off">
              </div>
            </div>
        </div>  
        <hr>             
        <button type="submit" class="btn btn-primary">Make Reservation</button>
      </form>
        </div>
    </div>
  </div>
<div class="row my-footer">
        <div class="col">
            Left
        </div>
        <div class="col">
            Center
        </div>
        <div class="col">
            Right
        </div>
{{end}}